
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div ng-app="employeeRoles" class="container-fluid">
    <div class="row" ng-controller="addEmpRolesCtrl as addRole">
        <div class="col-lg-3">
            Role Name:
        </div>
        <div class="col-lg-9">
            <input type="text" class="form-control" ng-model="addRole.role.roleName" />
        </div>
        <div class="col-lg-3">
            Role Description:
        </div>
        <div class="col-lg-9">          
            <input type="text" class="form-control" ng-model="addRole.role.roleDesc" />
        </div>
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-lg btn-outline" ng-click="addRole.addEmpRole()"  >Add Role</button>
            </div>
        </div>
        <div class="row">
            The role Name is: {{addRole.role.roleName}} + and Role Desc is : {{addRole.role.roleDesc}}
        </div>
    </div>
   
</div>